@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap')

$font: "Noto Sans", sans-serif
    
.text-preset-1
    font-size: 1.5rem
    font-weight: 800

.text-preset-2
    font-size: 1.125rem
    font-weight: 800
    line-height: 26px

.text-preset-3
    font-size: 1rem
    font-weight: 600

.text-preset-4
    font-size: 0.875rem
    font-weight: 800
    line-height: 20px

.text-preset-4-light
    font-size: 0.875rem
    font-weight: 300
    line-height: 16px

.text-preset-5-bold
    font-size: 0.75rem
    font-weight: 600

.text-preset-5
    font-size: 0.75rem
    font-weight: 400


